.contedorPrincipal {
  display: flex;

  justify-content: space-between;
}
.contenedorUno {
  height: 20rem;
  width: 65rem;
  padding-top: 4rem;
}

.contenedorDos img {
  width: 35rem;
  margin-left: 3rem;
  padding-top: 4rem;
}

.contenedortres img {
  width: 34rem;

  height: 24rem;
  padding-top: 4rem;
  margin-right: 2rem;
}

.contenedorCuatro {
  width: 35rem;
  height: 20rem;
  padding-top: 4rem;
}
